<nav aria-label="breadcrumb">
    <ol class="breadcrumb my-0 ms-2">
        <li class="breadcrumb-item">
            <span>Home</span>
        </li>
        <li class="breadcrumb-item active"><span>Dashboard</span></li>
    </ol>
</nav>