<li class="nav-item">
    <a class="nav-link" href="#">
        <svg class="icon icon-lg">
            <use xlink:href="{{ asset('/bundles/coreui/vendors/@coreui/icons/svg/free.svg#cil-bell') }}"></use>
        </svg>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <svg class="icon icon-lg">
            <use xlink:href="{{ asset('/bundles/coreui/vendors/@coreui/icons/svg/free.svg#cil-list-rich') }}"></use>
        </svg>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <svg class="icon icon-lg">
            <use xlink:href="{{ asset('/bundles/coreui/vendors/@coreui/icons/svg/free.svg#cil-envelope-open') }}"></use>
        </svg>
    </a>
</li>
